!!! 5
html
  head
    meta(charset="utf-8")
    title mavis
    link(href="/application.css" rel="stylesheet")
  body
    header
      form#target-text
        input(type="text" placeholder="解析する文章を入力してください")
        input(type="submit" value="解析")
    section#content
    script(src="/application.js")
